  <!-- Main content -->
  <div class="main-content">
      <!-- Top navbar -->
      <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
          <div class="container-fluid">
              <!-- Brand -->
              <div class="h2 mb-0 d-none d-lg-inline-block">Content Library</div>
              <!-- Form -->
             <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
                  <div class="form-group mb-0">
                      <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-search"></i></span>
                          </div>
                          <input class="form-control" placeholder="Search" type="text">
                      </div>
                  </div>
              </form> 
              <div class="d-md-flex">                  
                  <ul class="navbar-nav align-items-center mr-3 d-none d-md-flex ml-lg-auto">
                      <li class="nav-item dropdown">
                          <button class="btn btn-primary" type="button" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by <i class="fa fa-chevron-down" aria-hidden="true"></i></button>                        
                          <div class="dropdown-menu dropdown-menu-right">
                              <a href="#" class="dropdown-item">
                                  <i class="ni ni-single-02"></i>
                                  <span>Brand</span>
                              </a>
                              <a href="#" class="dropdown-item">
                                  <i class="ni ni-settings-gear-65"></i>
                                  <span>Status</span>
                              </a>
                              <a href="#" class="dropdown-item">
                                  <i class="ni ni-calendar-grid-58"></i>
                                  <span>Mappings</span>
                              </a>
                              <a href="#" class="dropdown-item">
                                  <i class="ni ni-support-16"></i>
                                  <span>Views</span>
                              </a>
                          </div>
                      </li>
                  </ul>
              </div> 
              <div class="d-md-flex">
                  <a href="create-content.html">
                      <button class="btn btn-primary" style="margin-right:20px;" type="button">Create</button>
                  </a>
              </div>
			 <!-- <div class="d-md-flex">
                  <a href="#">
                      <button class="btn btn-primary" type="button">Upload</button>
                  </a>
              </div> -->
          </div>
      </nav>
      <!-- Header -->
      <div class="pb-8 pt-5 pt-md-8">
          <!-- Page content -->
          <div class="container-fluid mt--7">      
              <div class="row mt-5">
                  <div class="col-xl-12 mb-5 mb-xl-0">
                      <div class="card">                  
                          <div class="table-responsive shadow">
                              <!-- Projects table -->
                              <table class="table align-items-center table-flush">
                                  <thead class="thead-light">
                                      <tr>
                                          <th scope="col">
                                              Title
                                              <i class="fa fa-chevron-down text-default" aria-hidden="true"></i>
                                          </th>
                                          <th scope="col">Status</th>
                                          <th scope="col">Type</th>
                                          <th scope="col">Uploaded Date <i class="fa fa-chevron-down text-default" aria-hidden="true"></i></th>
                                          <th scope="col" class="text-center">Actions</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>Transformer</td>
                                          <td>Flagged</td>
                                          <td>Video</td>
                                          <td>07, Jul 2018</td>
										  <td class="text-center actions">
                                              <a href="#" title="Edit">
                                                  <span class="fas fa-pencil-alt" aria-hidden="true"></span>
                                              </a>
                                              <a href="#" title="Delete">
                                                  <span class="fas fa-trash" aria-hidden="true"></span>
                                              </a>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>Heinkein Brakes</td>
                                          <td>Pre-approved</td>
                                          <td>Video</td>
                                          <td>07, Jul 2018</td>
										  <td class="text-center actions">
                                              <a href="#" title="Edit">
                                                  <span class="fas fa-pencil-alt" aria-hidden="true"></span>
                                              </a>
                                              <a href="#" title="Delete">
                                                  <span class="fas fa-trash" aria-hidden="true"></span>
                                              </a>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>Kit Kat Munch</td>
                                          <td>Flagged</td>
                                          <td>Image</td>
                                          <td>08, Jul 2018</td>
										  <td class="text-center actions">
                                              <a href="#" title="Edit">
                                                  <span class="fas fa-pencil-alt" aria-hidden="true"></span>
                                              </a>
                                              <a href="#" title="Delete">
                                                  <span class="fas fa-trash" aria-hidden="true"></span>
                                              </a>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>Fall 05</td>
                                          <td>Pre-approved</td>
                                          <td>image</td>
                                          <td>06, Jul 2018</td>
										  <td class="text-center actions">
                                              <a href="#" title="Edit">
                                                  <span class="fas fa-pencil-alt" aria-hidden="true"></span>
                                              </a>
                                              <a href="#" title="Delete">
                                                  <span class="fas fa-trash" aria-hidden="true"></span>
                                              </a>
                                          </td>
                                      </tr>
                                      <tr>
                                         <td>Heinkein Brakes</td>
                                          <td>Pre-approved</td>
                                          <td>Video</td>
                                          <td>07, Jul 2018</td>
										  <td class="text-center actions">
                                              <a href="#" title="Edit">
                                                  <span class="fas fa-pencil-alt" aria-hidden="true"></span>
                                              </a>
                                              <a href="#" title="Delete">
                                                  <span class="fas fa-trash" aria-hidden="true"></span>
                                              </a>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>Kit Kat Munch</td>
                                          <td>Flagged</td>
                                          <td>Image</td>
                                          <td>08, Jul 2018</td>
										  <td class="text-center actions">
                                              <a href="#" title="Edit">
                                                  <span class="fas fa-pencil-alt" aria-hidden="true"></span>
                                              </a>
                                              <a href="#" title="Delete">
                                                  <span class="fas fa-trash" aria-hidden="true"></span>
                                              </a>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>Fall 05</td>
                                          <td>Pre-approved</td>
                                          <td>image</td>
                                          <td>06, Jul 2018</td>
										  <td class="text-center actions">
                                              <a href="#" title="Edit">
                                                  <span class="fas fa-pencil-alt" aria-hidden="true"></span>
                                              </a>
                                              <a href="#" title="Delete">
                                                  <span class="fas fa-trash" aria-hidden="true"></span>
                                              </a>
                                          </td>
                                      </tr>                                     
                                  </tbody>
                              </table>
                          </div>
                          <div class="card-footer py-4">
                              <nav aria-label="...">
                                  <ul class="pagination justify-content-end mb-0">
                                      <li class="page-item disabled">
                                          <a class="page-link" href="#" tabindex="-1">
                                              <i class="fas fa-angle-left"></i>
                                              <span class="sr-only">Previous</span>
                                          </a>
                                      </li>
                                      <li class="page-item active">
                                          <a class="page-link" href="#">1</a>
                                      </li>
                                      <li class="page-item">
                                          <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                      </li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item">
                                          <a class="page-link" href="#">
                                              <i class="fas fa-angle-right"></i>
                                              <span class="sr-only">Next</span>
                                          </a>
                                      </li>
                                  </ul>
                              </nav>
                          </div>
                      </div>
                  </div>              
              </div>
              <!-- Footer -->
              <footer class="footer">
                  <div class="row align-items-center justify-content-xl-between">
                      <div class="col-xl-6">
                          <div class="copyright text-center text-xl-left text-muted">
                              &copy; 2018 <a href="#" class="font-weight-bold ml-1" target="_blank">Lectrefy</a>
                        </div>
                      </div>
                  </div>
              </footer>
          </div>
      </div>
  </div>
