  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h2 mb-0 d-none d-lg-inline-block" href="./index.html">
                <i class="fas fa-arrow-left"></i>
                Edit Campaign
            </a>
            <div class="d-md-flex">
                <a href="./index.html">
                    <button class="btn btn-primary" type="button">Update</button>
                </a>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <div class="pb-8 pt-5 pt-md-8">
        <!-- Page content -->
        <div class="container-fluid mt--7">      
            <div class="row mt-5">
                <div class="col-xl-12 mb-5 mb-xl-0">
                    <!-- CREATE FORM STARTS -->
                    <form name="create-form" id="create-form" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Fullname</label>
                                    <input type="text" [(ngModal)]="name" class="form-control form-control-alternative" id="name" placeholder="Gnanavel" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Media Selection Option</label>
                                    <select [(ngModal)]="media" class="form-control form-control-alternative" id="media_selection">
                                        <option>- Select -</option>
                                        <option>Sequential</option>
                                        <option>Random</option>
                                        <option>Target</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Brand</label>
                                    <select [(ngModal)]="brand" class="form-control form-control-alternative" id="brand">
                                        <option>Apple</option>
                                        <option>Samsung</option>
                                        <option>Wesscosoft</option>
                                        <option>LG</option>
                                        <option>HP</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Sub Brand</label>
                                    <select [(ngModal)]="subbbrand" class="form-control form-control-alternative" id="sub_brand">
                                        <option>iPhone 6</option>
                                        <option>iPhone 7</option>
                                        <option>iPhone 8</option>
                                        <option>iPhone X</option>
                                        <option>iPhone X edge</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- FORM END -->
                    <div class="card">                  
                        <div class="table-responsive shadow">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Immersive Ad</th>
                                        <th scope="col">Non-Interactive Ad</th>
                                        <th scope="col" class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Spring Line 18</td>
                                        <td>Experience Freshness</td>
                                        <td class="text-center actions">
                                            <a href="#" title="Edit">
                                                <span class="fas fa-pencil-alt" aria-hidden="true"></span>
                                            </a>
                                            <a href="#" title="Delete">
                                                <span class="fas fa-trash" aria-hidden="true"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Spring Line 18</td>
                                        <td>Now In Store</td>
                                        <td class="text-center actions">
                                            <a href="#" title="Edit">
                                                <span class="fas fa-pencil-alt" aria-hidden="true"></span>
                                            </a>
                                            <a href="#" title="Delete">
                                                <span class="fas fa-trash" aria-hidden="true"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3">
                                            <a href="#" title="Add New">
                                                <i class="fas fa-plus-circle"></i> Add Ad Set
                                            </a>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                  </div>
              </div>              
          </div>
          <!-- Footer -->
          <footer class="footer">
              <div class="row align-items-center justify-content-xl-between">
                  <div class="col-xl-6">
                      <div class="copyright text-center text-xl-left text-muted">
                          &copy; 2018 <a href="#" class="font-weight-bold ml-1" target="_blank">Lectrefy</a>
                    </div>
                  </div>
              </div>
          </footer>
      </div>
  </div>
</div>

